
@font-face {
    font-family: 'Open Sans';
    src: url('/public/fonts/open-sans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Varela Round';
    src: url('/public/fonts/varela-round/VarelaRound-Regular.ttf');
}
