
$primary-color: #109082;

$accent-0-dark: #067267;
$accent-0-light: #2D978C;

$accent-1-dark: #B77B0A;
$accent-1-light: #F3B748;

$accent-2-dark: #B7530A;
$accent-2-light: #F39148;

$accent-3-dark: #3B5FA2;
$accent-3-light: #5D7DB7;
