/*
** Written by closingin.
*/

#portfolio-content {
    width: 100%;
    height: 100%;
}

#portfolio-content .portfolio-fullscreen {
    width: 100%;
    box-sizing: border-box;
    color: #454545;
}

#portfolio-content .portfolio-entry {
    transition: box-shadow .5s, background-color .5s;
}

#portfolio-content .portfolio-entry:hover {
    background-color: rgba(0, 0, 0, .6);
}

#portfolio-content .portfolio-entry:nth-child(2n)   { background-color: #efefef; }
#portfolio-content .portfolio-entry:nth-child(2n+1) { background-color: #f8f8f8; }

#portfolio-content .portfolio-entry.image {
    max-height: 300px;
    overflow: hidden;
}

#portfolio-content .portfolio-entry.image > img {
    display: block;
    width: 100%;
    filter: blur(2px);
}

#portfolio-content .portfolio-entry > div {
    padding: 40px;
    opacity: 0;
    transition: opacity 1s, transform 1s;
    transform: translateY(-10%);
}

#portfolio-content .portfolio-entry p {
    margin: 0;
}

#portfolio-content .portfolio-entry .icon .fa {
    font-size: 14em;
}

@media screen and (min-width: 768px) {
    #portfolio-content {
        margin-left: 50%;
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    #portfolio-content {
        margin-left: 30%;
        width: 70%;
    }
}
