/*
** Written by closingin.
*/

#portfolio-introduction {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 18px;
    background-image: url('../images/me.jpg');
    background-size: cover;
}

#portfolio-introduction-inner {
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, .5);
}

#portfolio-introduction #description {
    position: absolute;
    right: 80px;
    bottom: 80px;
    left: 80px;
}

#portfolio-introduction #description h1 {
    text-transform: uppercase;
    font-size: 2em;
    color: white;
    font-family: Roboto;
}

#portfolio-introduction #description p {
    color: rgba(255, 255, 255, .6);
}

#portfolio-introduction #links {
    position: absolute;
    right: 80px;
    bottom: 50px;
    left: 80px;
}

#portfolio-introduction #links p {
    font-size: .7em;
    color: rgba(255, 255, 255, .6);
}

#portfolio-introduction #links p a {
    color: rgba(255, 255, 255, .6);
    text-decoration: none;
    transition: color .4s;
    display: inline-block;
    margin-right: 10px;
}

#portfolio-introduction #links p a:hover {
    color: #FFF;
}

#portfolio-introduction #description,
#portfolio-introduction #links {
    opacity: 0;
    transform: translateY(25%);
    transition: opacity 1s, transform 1s;
}

@media screen and (min-width: 768px) {
    #portfolio-introduction {
        position: fixed;
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    #portfolio-introduction {
        width: 30%;
    }

    #portfolio-introduction #description {
        right: 40px;
        bottom: 60px;
        left: 40px;
    }

    #portfolio-introduction #links {
        right: 40px;
        bottom: 25px;
        left: 40px;
    }
}

@media screen and (min-width: 1280px) {
    #portfolio-introduction #description {
        right: 80px;
        bottom: 80px;
        left: 80px;
    }

    #portfolio-introduction #links {
        right: 80px;
        bottom: 50px;
        left: 80px;
    }
}
