<article id="projects">
    <div>
        <h2>Projects</h2>
        <h3>Here's a basic overview of the projects I've been working on. If you have questions regarding one of them, contact me!</h3>

        <div class="content">
            <div id="prev"><i class="fa fa-chevron-left"></i></div>
            <div id="next"><i class="fa fa-chevron-right"></i></div>

            <div class="projects-container">
                <div class="project">
                    <img class="background" src="/public/images/projects/mmm-ratp.png" alt="project-mmm-ratp" />
                    <div class="overlay"></div>
                    <div class="description">
                        <h4>MMM-RATP</h4>
                        <p>A MagicMirror² module that allows you to get waiting times for specific stations, alongside traffic information for the lines you want.</p>
                        <p class="links">
                            <a href="https://gitlab.com/closingin/mmm-ratp" target="_blank">View project</a>
                        </p>
                    </div>
                </div>
                <div class="project">
                    <img class="background" src="/public/images/projects/www.soli.tech.png" alt="project-solitech" />
                    <div class="overlay"></div>
                    <div class="description">
                        <h4>soli.tech</h4>
                        <p>Complete rework of the website of SOLITECH, the first product of a french startup called 90Tech.</p>
                        <p class="links">
                            <a href="https://www.soli.tech/" target="_blank">Visit website</a>
                        </p>
                    </div>
                </div>
                <div class="project">
                    <img class="background" src="/public/images/projects/intra.epitech.eu.png" alt="project-epitech-intranet-stylish" />
                    <div class="overlay"></div>
                    <div class="description">
                        <h4>intra.epitech.eu</h4>
                        <p>Creation of a new flat design for the intranet of my school, as a Stylish theme.<br /><br />Almost 3.5k lines of CSS currently.</p>
                        <p class="links">
                            <a href="https://userstyles.org/styles/136022/epitech-flat-intranet" target="_blank">See theme</a>
                        </p>
                    </div>
                </div>
                <div class="project">
                    <img class="background" src="/public/images/projects/www.jobtrends.io.png" alt="project-jobtrends" />
                    <div class="overlay"></div>
                    <div class="description">
                        <h4>jobtrends.io</h4>
                        <p>A school project to anticipate disappearing jobs due to the digital revolution.<br /><br />Creation of the website and administration portal.</p>
                    </div>
                </div>
                <div class="project">
                    <img class="background" src="/public/images/projects/www.closingin.me.png" alt="project-closingin" />
                    <div class="overlay"></div>
                    <div class="description">
                        <h4>closingin.me</h4>
                        <p>I entirely created and designed this portfolio, something that many designers/developers don't do.</p>
                        <p class="links">
                            <a href="/" target="_blank">Visit website</a>
                        </p>
                    </div>
                </div>
                <div class="project">
                    <img class="background" src="/public/images/projects/next.png" alt="project-next" />
                    <div class="overlay"></div>
                    <div class="description">
                        <h4>Yours?</h4>
                        <p>Maybe your project will be the next one to be listed here !</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
