
#contact .content {
    display: flex;
    flex-direction: column;

    form {
        margin-bottom: 40px;
    }

    input,
    textarea {
        display: block;
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
        padding: 15px;
        box-sizing: border-box;
        border: 1px solid #c2dad7;
        color: #6d6d6d;
        background-color: transparent;
        font-family: sans-serif;
        font-size: 12px;

        &:disabled {
            cursor: not-allowed;
        }
    }

    textarea {
        min-height: 200px;
    }

    input[type="submit"] {
        width: auto;
        margin-bottom: 0;
        padding: 10px;
        border: 1px solid #109082;
        color: #109082;
        background-color: transparent;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 10px;
        border-radius: 3px;
        margin-left: auto;
    }

    p {
        padding: 20px 20px 0 20px;
        background-color: #c2dad7;
        color: #607c79;

        &:last-child {
            padding-bottom: 20px;
        }
    }

    a {
        color: #607c79;

        &:hover {
            text-decoration: underline;
        }
    }
}

@media screen and (min-width: 1280px) {
    #contact .content {
        flex-direction: row;

        form,
        div {
            width: 50%;
        }

        form {
            margin-bottom: 0;
        }

        div {
            padding-left: 40px;
        }
    }
}
