
@keyframes rotate {
    0%   { transform: rotate(0deg);   }
    100% { transform: rotate(359deg); }
}

#projects .content {
    position: relative;
    overflow: hidden;

    #prev,
    #next {
        display: flex;
        align-items: center;
        position: absolute;
        top: calc(50% + 30px);
        z-index: 2;
        width: 0;
        height: 100%;
        max-height: 0;
        overflow: hidden;
        transform: translateY(calc(-50% - 15px));
        border-radius: 50%;
        color: #fff;
        background-color: rgba(0, 0, 0, .6);
        cursor: pointer;
        transition: width .5s, max-height .5s;
    }

    #prev { left:  -40px; i { padding-left: 50px; } }
    #next { right: -40px; i { padding-left: 15px; } }

    &.hidden-left #prev,
    &.hidden-right #next {
        width: 80px;
        max-height: 80px;
    }
}

#projects .projects-container {
    display: flex;
    width: 100%;
    transition: margin-left .5s;
}

#projects .project {
    flex-shrink: 0;
    width: 250px;
    max-width: 100%;
    overflow: hidden;
    margin-right: 40px;
    position: relative;
    border-radius: 4px;

    &:last-child {
        margin-right: 0;
    }

    .background {
        display: block;
        width: 100%;
    }

    .overlay {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
    }

    .description {
        position: absolute;
        bottom: 0;
        width: 100%;
        max-height: 100%;
        padding: 20px 20px 0;
        overflow-y: auto;
        box-sizing: border-box;
        background-color: rgba($primary-color, .7);
        color: #fff;

        h5 {
            margin: 0 0 5px;
            font-size: .9em;
            line-height: 25px;
            white-space: nowrap;
            text-transform: uppercase;
        }

        p {
            padding-bottom: 20px;
            overflow: hidden;
            line-height: 25px;
            text-overflow: ellipsis;
            transition: white-space .5s;
        }

        p.links {
            line-height: normal;
        }

        p.links a {
            display: inline-block;
            padding: 10px 15px;
            color: #FFF;
            background-color: #11C6B2;
            border-radius: 50px;
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}

@media screen and (min-width: 1024px) {
    #projects .content {
        &::before,
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 30px;
            bottom: 0px;
            width: 0;
            z-index: 1;
            transition: width .5s;
        }

        &::before {
            background: linear-gradient(to right, rgba(0, 0, 0, .8), transparent);
        }

        &::after {
            right: 0;
            background: linear-gradient(to left, rgba(0, 0, 0, .8), transparent);
        }

        #prev,
        #next {
            justify-content: center;

            i { padding-left: 0; }

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                border: 2px dotted $primary-color;
                border-radius: 50%;
                box-sizing: border-box;
                animation: rotate 10s linear infinite;
                animation-play-state: paused;
            }

            &:hover::before {
                animation-play-state: running;
            }
        }

        #prev {
            left: 20px;
        }

        #next {
            left: auto;
            right: 20px;
        }

        &.hidden-left::before,
        &.hidden-right::after { width: 100px; }

        &.hidden-left #prev,
        &.hidden-right #next {
            width: 50px;
            max-height: 50px;
        }
    }



    #projects .project {
        width: 300px;
    }
}

@media screen and (min-width: 1280px) {
    #projects .content {
        #prev { left:  30px; }
        #next { right: 30px; }

        &.hidden-left::before,
        &.hidden-right::after { width: 150px; }

        &.hidden-left #prev,
        &.hidden-right #next {
            width: 70px;
            max-height: 70px;
        }
    }
}
