<aside>
    <div id="description">
        <h1>Hello!<br>My<br />name's<br />closingin.<br />I swear.</h1>
        <p>Hell no, my name's Rémi, but who cares? I'm mainly a web developer, but I'm also interested in whatever is related to programming.</p>
    </div>

    <div id="links">
        <p>
            <a href="https://twitter.com/closingin_me"><i class="fab fa-twitter"></i> Twitter</a>
            <a href="https://github.com/closingin"><i class="fab fa-github"></i> GitHub</a>
            <a href="https://gitlab.com/closingin"><i class="fab fa-gitlab"></i> GitLab</a>
            <a href="" class="email"><i class="fas fa-envelope"></i> E-mail</a>
        </p>
    </div>
</aside>
